.kazakhstan {
  .logo {
    width: 100%;
    height: 250px;
    background-color: teal;
    display: flex;
    align-items: center;
    padding: 0 0 0 150px;

    h1 {
      color: white;
      font-size: 40px;
    }
  }

  .table_map {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;

    table {
      width: 50%;
      margin: 50px 50px 0 0;

      tr {
        border-bottom: 1px solid teal;
        border-top: 1px solid teal;
      }

      td {
        color: teal;
        padding: 10px 0;
      }
    }

    div {
      .photos {
        display: flex;
        flex-direction: row;

        img {
          width: 50%;
          height: 200px;
          padding: 10px;
        }
      }

      .map {
        width: 97%;
        height: 300px;
        margin: 0 1.5%;
      }
    }
  }
}

.md_kazakhstan {
  width: 100%;
  padding: 0 100px;
  margin: 50px 0;

  .md_kazakhstan_heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;

    h2 {
      color: white;
    }
  }

  span {
    color: teal;
    font-weight: 500;
  }

  ul {
    margin: 10px 0;
    li {
      color: gray;
    }
  }
}

.advantage_kazakhstan {
  width: 100%;
  padding: 0 100px;
  margin: 50px 0;

  h4 {
    color: teal;
    padding: 10px 0;
  }

  ul {
    padding: 10px 20px;

    li {
      color: gray;
      font-size: 18px;
    }
  }

  p {
    color: gray;
    font-size: 18px;
    padding: 2px 0;
  }
}

.college_kazakhstan {
  width: 100%;
  padding: 0 100px;
  margin: 50px 0;

  .college_kazakhstan_heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;

    h2 {
      color: white;
    }
  }

  table {
    width: 60%;
    margin: 50px 20%;

    tr {
      border-bottom: 1px solid teal;
      border-top: 1px solid teal;
    }

    th {
      padding: 10px 0;
      color: teal;
    }

    td {
      color: teal;
      padding: 10px 0;
    }
  }
}








@media (max-width: 992px) {

  .kazakhstan {
    .logo {
      height: 200px;
      padding: 0 0 0 100px;
  
      h1 {
        font-size: 35px;
      }
    }
  
    .table_map {
      width: 100%;
      justify-content: space-between;
      padding: 0 20px;
  
      table {
        width: 100%;
        margin: 30px 20px 0 0;
  
        td {
          padding: 6px 0;
          font-size: 16px;
        }
      }
  
      div {
        width: 100%;
        .photos {
          flex-direction: row;
  
          img {
            width: 50%;
            height: 180px;
            padding: 5px;
          }
        }
  
        .map {
          width: 97%;
          height: 260px;
          margin: 0 1.5%;
        }
      }
    }
  }
  
  .md_kazakhstan {
    width: 100%;
    padding: 0 20px;
    margin: 40px 0;
  
    .md_kazakhstan_heading { 
     h2 {
        font-size: 26px;
      }
    }
  
    span {
      font-weight: 500;
    }
  
    ul {
      margin: 6px 0;
      li {
        font-size: 17px;
      }
    }
  }
  
  .advantage_kazakhstan {
    width: 100%;
    padding: 0 20px;
    margin: 40px 0;
  
    h4 {
      padding: 8px 0;
      font-size: 22px;
    }
  
    ul {
      padding: 6px 15px;
  
      li {
        font-size: 17px;
      }
    }
  
    p {
      font-size: 17px;
      padding: 2px 0;
    }
  }
  
  .college_kazakhstan {
    width: 100%;
    padding: 0 20px;
    margin: 50px 0;
  
    .college_kazakhstan_heading {
      h2 {
        font-size: 26px;
      }
    }
  
    table {
      width: 80%;
      margin: 20px 10%;
      font-size: 17px;
    
      tr {
        border-bottom: 1px solid teal;
        border-top: 1px solid teal;
      }
  
      th {
        padding: 8px 0;
      }
  
      td {
        padding: 8px 0;
      }
    }
  }
  

}








@media (max-width: 768px) {

  .kazakhstan {
    .logo {
      height: 180px;
      padding: 0 0 0 80px;
  
      h1 {
        font-size: 30px;
      }
    }
  
    .table_map {
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 20px;
  
      table {
        width: 100%;
        margin: 30px 20px 0 0;
  
        td {
          padding: 6px 0;
          font-size: 16px;
        }
      }
  
      div {
        width: 100%;
        margin-top: 20px;

        .photos {
          flex-direction: row;
  
          img {
            width: 50%;
            height: 180px;
            padding: 5px;
          }
        }
  
        .map {
          width: 98%;
          height: 260px;
          margin: 0 1%;
        }
      }
    }
  }
  
  .md_kazakhstan {
    width: 100%;
    padding: 0 20px;
    margin: 30px 0;
  
    .md_kazakhstan_heading { 
     h2 {
        font-size: 24px;
      }
    }
  
    span {
      font-weight: 500;
      font-size: 16px;
    }
  
    ul {
      margin: 5px 0;
      li {
        font-size: 16px;
      }
    }
  }
  
  .advantage_kazakhstan {
    width: 100%;
    padding: 0 20px;
    margin: 30px 0;
  
    h4 {
      padding: 6px 0;
      font-size: 20px;
    }
  
    ul {
      padding: 5px 15px;
  
      li {
        font-size: 16px;
      }
    }
  
    p {
      font-size: 16px;
      padding: 2px 0;
    }
  }
  
  .college_kazakhstan {
    width: 100%;
    padding: 0 20px;
    margin: 30px 0;
  
    .college_kazakhstan_heading {
      h2 {
        font-size: 24px;
      }
    }
  
    table {
      width: 80%;
      margin: 20px 10%;
      font-size: 16px;
    
      tr {
        border-bottom: 1px solid teal;
        border-top: 1px solid teal;
      }
  
      th {
        padding: 6px 0;
      }
  
      td {
        padding: 6px 0;
      }
    }
  }
  

}










@media (max-width: 612px) {

  .kazakhstan {
    .logo {
      height: 150px;
      padding: 0 0 0 50px;
  
      h1 {
        font-size: 28px;
      }
    }
  
    .table_map {
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 10px;
  
      table {
        width: 100%;
        margin: 30px 0px 0 0;
  
        td {
          padding: 6px 0;
          font-size: 16px;
        }
      }
  
      div {
        width: 100%;
        margin-top: 20px;

        .photos {
          flex-direction: row;
  
          img {
            width: 50%;
            height: 160px;
            padding: 5px;
          }
        }
  
        .map {
          width: 98%;
          height: 220px;
          margin: 0 1%;
        }
      }
    }
  }
  
  .md_kazakhstan {
    width: 100%;
    padding: 0 10px;
    margin: 20px 0;
  
    .md_kazakhstan_heading { 
     h2 {
        font-size: 24px;
      }
    }
  
    span {
      font-weight: 500;
      font-size: 16px;
    }
  
    ul {
      margin: 5px 0;
      li {
        font-size: 16px;
      }
    }
  }
  
  .advantage_kazakhstan {
    width: 100%;
    padding: 0 10px;
    margin: 20px 0;
  
    h4 {
      padding: 5px 0;
      font-size: 19px;
    }
  
    ul {
      padding: 5px 15px;
  
      li {
        font-size: 16px;
      }
    }
  
    p {
      font-size: 16px;
      padding: 2px 0;
    }
  }
  
  .college_kazakhstan {
    width: 100%;
    padding: 0 10px;
    margin: 20px 0;
  
    .college_kazakhstan_heading {
      h2 {
        font-size: 24px;
      }
    }
  
    table {
      width: 80%;
      margin: 15px 10%;
      font-size: 16px;
    
      tr {
        border-bottom: 1px solid teal;
        border-top: 1px solid teal;
      }
  
      th {
        padding: 5px 0;
      }
  
      td {
        padding: 5px 0;
      }
    }
  }
}








@media (max-width: 451px) {

  .kazakhstan {
    .logo {
      height: 140px;
      padding: 0 0 0 20px;
  
      h1 {
        font-size: 26px;
      }
    }
  
    .table_map {
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 10px;
  
      table {
        width: 100%;
        margin: 30px 0 0 0;
  
        td {
          padding: 6px 0;
          font-size: 15px;
        }
      }
  
      div {
        width: 100%;
        margin-top: 20px;

        .photos {
          flex-direction: row;
  
          img {
            width: 50%;
            height: 160px;
            padding: 5px;
          }
        }
  
        .map {
          width: 98%;
          height: 220px;
          margin: 0 1%;
        }
      }
    }
  }
  
  .md_kazakhstan {
    width: 100%;
    padding: 0 10px;
    margin: 20px 0;
  
    .md_kazakhstan_heading { 
     h2 {
        font-size: 24px;
      }
    }
  
    span {
      font-weight: 500;
      font-size: 16px;
    }
  
    ul {
      margin: 5px 0;
      li {
        font-size: 15px;
      }
    }
  }
  
  .advantage_kazakhstan {
    width: 100%;
    padding: 0 10px;
    margin: 20px 0;
  
    h4 {
      padding: 5px 0;
      font-size: 18px;
    }
  
    ul {
      padding: 5px 15px;
  
      li {
        font-size: 15px;
      }
    }
  
    p {
      font-size: 15px;
      padding: 2px 0;
    }
  }
  
  .college_kazakhstan {
    width: 100%;
    padding: 0 10px;
    margin: 20px 0;
  
    .college_kazakhstan_heading {
      h2 {
        font-size: 24px;
      }
    }
  
    table {
      width: 100%;
      margin: 15px 0;
      font-size: 15px;
    
      tr {
        border-bottom: 1px solid teal;
        border-top: 1px solid teal;
      }
  
      th {
        padding: 5px 0;
      }
  
      td {
        padding: 5px 0;
      }
    }
  }
}
