.license {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 50px;

    p {
        color: gray;

        span {
        color: rgb(180, 180, 180);

        }
    }
}