.ukraine {
  .logo {
    width: 100%;
    height: 250px;
    background-color: teal;
    display: flex;
    align-items: center;
    padding: 0 0 0 150px;

    h1 {
      color: white;
      font-size: 40px;
    }
  }

  .table_map {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;

    table {
      width: 50%;
      margin: 50px 50px 0 0;

      tr {
        border-bottom: 1px solid teal;
        border-top: 1px solid teal;
      }

      td {
        color: teal;
        padding: 10px 0;
      }
    }

    div {
      .photos {
        display: flex;
        flex-direction: row;

        img {
          width: 50%;
          height: 200px;
          padding: 10px;
        }
      }

      .map {
        width: 97%;
        height: 300px;
        margin: 0 1.5%;
      }
    }
  }
}

.reason_ukraine {
  width: 100%;
  margin: 50px 0;
  padding: 0 100px;

  .reason_heading {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: teal;

    h2,
    h3 {
      color: white;
    }
  }

  p {
    color: gray;
    padding: 20px 0;
  }
}

.mbbs_ukraine {
  width: 100%;
  padding: 0 100px;
  margin: 50px 0;

  h2 {
    background-color: teal;
    color: white;
    padding: 5px 20px;
  }

  p {
    color: gray;
    padding: 5px 0;
    font-size: 16px;
  }
}

.advantage_ukraine {
  width: 100%;
  padding: 0 100px;
  margin: 50px 0;

  h2 {
    background-color: teal;
    color: white;
    padding: 5px 20px;
  }

  ul li {
    color: gray;
    font-size: 16px;
    padding: 10px 0;

    span {
      color: teal;
      font-weight: 500;
    }
  }
}

.college_ukraine {
  width: 100%;
  padding: 0 100px;
  margin: 50px 0;

  .college_ukraine_heading {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    color: white;
  }

  table {
    width: 100%;
    margin: 20px 0;
    background-color: rgb(243, 243, 243);

    tr {
      border-bottom: 1px solid teal;
      border-top: 1px solid teal;
    }

    th {
      color: teal;
      font-size: 16px;
      padding: 10px 20px;
    }

    td {
      color: gray;
      font-size: 20px;
      padding: 10px 20px;
    }
  }
}









@media (max-width: 992px) {
  .ukraine {
    .logo {
      height: 220px;
      padding: 0 0 0 120px;

      h1 {
        font-size: 35px;
      }
    }

    .table_map {
      padding: 0 20px;

      table {
        width: 100%;
        margin: 30px 20px 0 0;

        td {
          padding: 6px 0;
          font-size: 18px;
        }
      }

      div {
        width: 100%;

        .photos {
          flex-direction: row;

          img {
            width: 50%;
            height: 180px;
            padding: 5px;
          }
        }

        .map {
          width: 97%;
          height: 260px;
          margin: 0 1.5%;
        }
      }
    }
  }

  .reason_ukraine {
    width: 100%;
    margin: 40px 0;
    padding: 0 20px;

    .reason_heading {
      flex-direction: column;

      h2,
      h3 {
        font-size: 28px;
      }
    }

    p {
      padding: 20px 0;
    }
  }

  .mbbs_ukraine {
    width: 100%;
    padding: 0 20px;
    margin: 20px 0;

    h2 {
      padding: 5px 20px;
      font-size: 28px;
    }

    p {
      padding: 5px 0;
      font-size: 18px;
    }
  }

  .advantage_ukraine {
    width: 100%;
    padding: 0 20px;
    margin: 40px 0;

    h2 {
      padding: 5px 20px;
      font-size: 18px;
    }

    ul li {
      font-size: 18px;
      padding: 8px 0;
    }
  }

  .college_ukraine {
    width: 100%;
    padding: 0 20px;
    margin: 40px 0;

    .college_ukraine_heading {
      height: 50px;
      font-size: 28px;
    }

    table {
      width: 100%;
      margin: 20px 0;

      th,
      td {
        font-size: 16px;
        padding: 5px 10px;
      }
    }
  }
}









@media (max-width: 768px) {
  .ukraine {
    .logo {
      height: 180px;
      padding: 0 0 0 80px;

      h1 {
        font-size: 30px;
      }
    }

    .table_map {
      flex-direction: column;
      padding: 0 20px;

      table {
        width: 100%;
        margin: 30px 20px 0 0;

        td {
          padding: 6px 0;
          font-size: 17px;
        }
      }

      div {
        width: 100%;
        margin-top: 20px;

        .photos {
          flex-direction: row;

          img {
            width: 50%;
            height: 180px;
            padding: 5px;
          }
        }

        .map {
          width: 97%;
          height: 260px;
          margin: 0 1.5%;
        }
      }
    }
  }

  .reason_ukraine {
    width: 100%;
    margin: 35px 0;
    padding: 0 20px;

    .reason_heading {
      flex-direction: column;

      h2,
      h3 {
        font-size: 26px;
      }
    }

    p {
      padding: 20px 0;
      font-size: 17px;
    }
  }

  .mbbs_ukraine {
    width: 100%;
    padding: 0 20px;
    margin: 20px 0;

    h2 {
      padding: 5px 20px;
      font-size: 26px;
    }

    p {
      padding: 4px 0;
      font-size: 17px;
    }
  }

  .advantage_ukraine {
    width: 100%;
    padding: 0 20px;
    margin: 35px 0;

    h2 {
      padding: 5px 20px;
      font-size: 17px;
    }

    ul li {
      font-size: 17px;
      padding: 7px 0;
    }
  }

  .college_ukraine {
    width: 100%;
    padding: 0 20px;
    margin: 35px 0;

    .college_ukraine_heading {
      height: 50px;
      font-size: 26px;
    }

    table {
      width: 100%;
      margin: 20px 0;

      th,
      td {
        font-size: 16px;
        padding: 4px 10px;
      }
    }
  }
}









@media (max-width: 612px) {
  .ukraine {
    .logo {
      height: 150px;
      padding: 0 0 0 50px;

      h1 {
        font-size: 26px;
      }
    }

    .table_map {
      flex-direction: column;
      padding: 0 10px;

      table {
        width: 100%;
        margin: 30px 0 0 0;

        td {
          padding: 6px 0;
          font-size: 16px;
        }
      }

      div {
        width: 100%;
        margin-top: 20px;

        .photos {
          flex-direction: row;

          img {
            width: 50%;
            height: 160px;
            padding: 5px;
          }
        }

        .map {
          width: 97%;
          height: 220px;
          margin: 0 1.5%;
        }
      }
    }
  }

  .reason_ukraine {
    width: 100%;
    margin: 30px 0;
    padding: 0 10px;

    .reason_heading {
      flex-direction: column;

      h2,
      h3 {
        font-size: 24px;
      }
    }

    p {
      padding: 15px 0;
      font-size: 16px;
    }
  }

  .mbbs_ukraine {
    width: 100%;
    padding: 0 10px;
    margin: 15px 0;

    h2 {
      padding: 5px 20px;
      font-size: 24px;
    }

    p {
      padding: 4px 0;
      font-size: 16px;
    }
  }

  .advantage_ukraine {
    width: 100%;
    padding: 0 10px;
    margin: 30px 0;

    h2 {
      padding: 5px 20px;
      font-size: 26px;
    }

    ul li {
      font-size: 16px;
      padding: 5px 0;
    }
  }

  .college_ukraine {
    width: 100%;
    padding: 0 10px;
    margin: 30px 0;

    .college_ukraine_heading {
      height: 70px;
      font-size: 22px;
    }

    table {
      width: 100%;
      margin: 15px 0;

      th,
      td {
        font-size: 15px;
        padding: 4px 10px;
      }
    }
  }
}









@media (max-width: 612px) {
  .ukraine {
    .logo {
      height: 140px;
      padding: 0 0 0 20px;

      h1 {
        font-size: 26px;
      }
    }

    .table_map {
      flex-direction: column;
      padding: 0 10px;

      table {
        width: 100%;
        margin: 30px 0 0 0;

        td {
          padding: 6px 0;
          font-size: 15px;
        }
      }

      div {
        width: 100%;
        margin-top: 20px;

        .photos {
          flex-direction: row;

          img {
            width: 50%;
            height: 160px;
            padding: 5px;
          }
        }

        .map {
          width: 97%;
          height: 220px;
          margin: 0 1.5%;
        }
      }
    }
  }

  .reason_ukraine {
    width: 100%;
    margin: 25px 0;
    padding: 0 10px;

    .reason_heading {
      flex-direction: column;

      h2,
      h3 {
        font-size: 24px;
      }
    }

    p {
      padding: 15px 0;
      font-size: 15px;
    }
  }

  .mbbs_ukraine {
    width: 100%;
    padding: 0 10px;
    margin: 15px 0;

    h2 {
      padding: 5px 20px;
      font-size: 24px;
    }

    p {
      padding: 4px 0;
      font-size: 15px;
    }
  }

  .advantage_ukraine {
    width: 100%;
    padding: 0 10px;
    margin: 25px 0;

    h2 {
      padding: 5px 20px;
      font-size: 24px;
    }

    ul li {
      font-size: 16px;
      padding: 5px 0;
    }
  }

  .college_ukraine {
    width: 100%;
    padding: 0 10px;
    margin: 25px 0;

    .college_ukraine_heading {
      height: 50px;
      font-size: 24px;
    }

    table {
      width: 100%;
      margin: 15px 0;

      th,
      td {
        font-size: 15px;
        padding: 4px 10px;
      }
    }
  }
}